@model Snippy.App.Models.ViewModels.ConciseCommentVM

<div class="panel panel-default comments">
    <p>@Model.Content</p>
    <p><span class="glyphicon glyphicon-user"><strong>@Model.AuthorName</strong></span> on @Model.CreationDate</p>
</div>

